@use "common"as *;


.lock-items{
    h3{
        color: $theme-color;
        font-size: 24px;
        margin: 45px 0;
        @include mq(xs){
            padding: 0 30px;
        }
    }
    .lock-btn{
        .contact-btn{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            @include mq(xs){
                justify-content: space-around;
            }
            a{
                font-size: 14px;
                display: inline-block;
                border-radius: 5px;
                margin: 0 20px;
                padding: 15px 30px;
                @include mq(md){
                    font-size: 14px;
                    display: inline-block;
                    border-radius: 5px;
                    margin: 0 6px;
                    padding: 10px 12px;
                }
                @include mq(xs){
                    font-size: 14px;
                    display: inline-block;
                    border-radius: 5px;
                    margin: 0 6px;
                    padding: 10px 8px;
                }
                &:hover{
                    color: $theme-color;
                    background: #fff;
                }
            }
        }
    }
    .bill-btn{
        a{
            color: #fff;
            font-size: 16px;
           
        }
    }
}